.Box {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 3;
}

.Cell {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 1;
}

.Known {
    fill: black;
    font-size: 70px;
    font-weight: 500;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.KnownBackground {
    fill: white;
    font-size: 70px;
    font-weight: bolder;
    stroke: white;
    stroke-width: 8;
}

.KnownForeground {
    fill: black;
    font-size: 70px;
    stroke: black;
}

.TextGlyphBackground {
    fill: white;
    font-size: 30px;
    font-weight: bolder;
    stroke: white;
    stroke-width: 8;
}

.TextGlyphForeground {
    fill: black;
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.Circle {
    fill: gainsboro;
}

.EvenCell {
    fill: gainsboro;
}

.OddCell {
    fill: gainsboro;
}

.FortressCell {
    stroke: black;
    stroke-width: 3;
}

.BattenburgOdd {
    fill: yellow;
    stroke: black;
    stroke-width: 1;
}

.BattenburgEven {
    fill: pink;
    stroke: black;
    stroke-width: 1;
}

.StarGlyphForeground {
    fill: gainsboro;
    font-size: 100px;
    stroke: gainsboro;
}

.StarGlyphBackground {
    fill: gainsboro;
    font-size: 100px;
    stroke: gainsboro;
}


.Unknown {
    fill: blue;
    font-size: 70px;
    font-weight: 500;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}


.UnknownForeground {
    fill: blue;
    font-size: 70px;
    stroke: blue;
}

.UnknownBackground {
    fill: white;
    font-size: 70px;
    font-weight: bolder;
    stroke: white;
    stroke-width: 8;
}

.Circle {
    fill: red;
}

.Diagonal {
    stroke: blue;
    stroke-width: 3px;
}


.FrameTextForeground {
    fill: black;
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
}

.FrameTextBackground {
    fill: white;
    font-size: 30px;
    font-weight: bolder;
    stroke: white;
    stroke-width: 8;
}

.EdgeTextGlyphForeground {
    fill: black;
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
}


.EdgeTextGlyphBackground {
    fill: white;
    font-size: 30px;
    font-weight: bolder;
    stroke: white;
    stroke-width: 8;
}

.LittleArrow {
    fill: black;
    font-size: 20px;
    stroke: black;
    stroke-width: 1;
}

.LittleNumber {
    font-size: 20px;
    stroke: black;
}

.MagicSquare {
    fill: cyan;
}


.Window {
    fill: lightcyan;
}

.ColumnIndexer {
    fill: pink;
}

.RowIndexer {
    fill: pink;
}

.ConsecutivePair {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.Consecutive1 {
    fill: silver;
    stroke: black;
    stroke-width: 2;
}


.KropkiPair {
    background: transparent;
    fill: black;
    stroke: black;
    stroke-width: 1;
}

.GermanWhisper {
    fill-opacity: 0;
    stroke: blue;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 20;
}


.DutchWhisper {
    fill-opacity: 0;
    stroke: green;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}


.Palindrome {
    fill-opacity: 0;
    stroke: silver;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.Renban {
    fill-opacity: 0;
    stroke: purple;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.Mountain {
    fill-opacity: 0;
    stroke: lightblue;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.DistinctRenban {
    fill-opacity: 0;
    stroke: purple;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.Sequence {
    fill-opacity: 0;
    stroke: grey;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.Arrow {
    fill: white;
    stroke: grey;
    stroke-width: 3;
}

.ArrowStart {
}

.ArrowEnd {
    fill-opacity: 0;
}

.Between {
    fill: white;
    stroke: grey;
    stroke-width: 3;
}

.BetweenStart {
}

.BetweenEnd {
}


.Thermometer {
    fill-opacity: 0;
    stroke: grey;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.SimpleThermometer {
    stroke: grey;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 0
}

.SimpleThermometerStart {
    stroke: grey;
    fill: grey;
    stroke-width: 30;
}

.FrozenThermometer {
    stroke: grey;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 0
}

.FrozenThermometerStart {
    stroke: grey;
    fill: grey;
    stroke-width: 30;
}


.Killer {
    stroke: red;
    stroke-width: 4;
}

.QuadrupleCircle {
    stroke-width: 2;
    stroke: black;
    fill: white;
}

.QuadrupleText {
    stroke: black;
    fill: black;
    font-size: 30px;
}

.Entropic {
    stroke: orange;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 0
}

.EqualSum {
    stroke: lightskyblue;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 0
}

.Rossini {
    stroke: black;
    fill: black;
    font-size: 30px;
}

.MagicSquare {
    fill: mediumpurple;
}


.XPairForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.XPairBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.VPairForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.VPairBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.OutsideForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black

}

.OutsideBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder

}

.Asterix {
    stroke: orange;
    fill: orange;
}

.Girandola {
    stroke: lightgreen;
    fill: lightgreen;
}

.LittleKiller {
    font-size: 30px;
    stroke: black;
    stroke-width: 2;
    fill: black
}

.LittleKillerForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.LittleKillerBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.NumberedRoomBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.NumberedRoomForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.SandwichBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.SandwichForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.OrthogonalProductForeground {
    font-size: 18px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.OrthogonalProductBackground {
    font-size: 18px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}

.CenterProductForeground {
    font-size: 30px;
    stroke: black;
    stroke-width: 1;
    fill: black
}

.CenterProductBackground {
    font-size: 30px;
    stroke: white;
    stroke-width: 8;
    fill: white;
    font-weight: bolder
}
